# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
docs/
# Logs
*.log
project_context.md
implementation_plan.md
# Environment variables
.env
.env.local

# Node (if frontend exists later)
node_modules/
dist/
build/

# Spring / Maven (backend)
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/HELP.md

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
