# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/focusmind
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_password

# Security Configuration
# Generate a secure key: openssl rand -hex 32
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
